// Generic
$background-color: rgb(24, 15, 15);
$footer-color: rgb(49, 12, 11);

$primary-color: #e52354;
$alt-color: rgb(231, 224, 224);
$light-color: rgb(240, 231, 231);
$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 500;
$title-color: rgb(247, 245, 245);

// Post
$post-text-color: rgb(236, 231, 231);
$post-hover-color: #413d3d;
