@use 'src/styles/vars';
 
.menu {
  text-align: center;
  padding: vars.$gutter;
  border-bottom: 1px solid vars.$alt-color;

  &-link {
    margin: 0 1rem;
    cursor: pointer;
    color: vars.$light-color;

    &:hover, &.active {
      color: vars.$primary-color;
    }
  }
}
.logo{
  position: absolute; 
  z-index: 2000; 
  top: 10px; 
  left: 10px; 
  border: 0; 
  width: 100px;
}
